.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main main right"
    "menu footer footer footer footer footer";
  /* grid-template-rows: 100px 200px; */
  /* column-gap: 20px;
    row-gap: 50px; */
  gap: 30px;
}

.container > div {
  padding: 30px;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
}

.item1{
  grid-area: header;
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
  grid-area: right;
}
.item5{
    grid-area: footer;
  }

